# Remote/LAN auth verification template.
# Usage:
#   cp local-container/verify-keycloak-auth-remote.env.template local-container/verify-keycloak-auth-remote.env
#   bash local-container/verify-keycloak-auth-remote.sh --env-file local-container/verify-keycloak-auth-remote.env

BOOKING_API_BASE_URL=http://192.168.1.50:8082
KEYCLOAK_TOKEN_URL=http://192.168.1.50:8080/realms/galaxium/protocol/openid-connect/token
OIDC_CLIENT_ID=web-app-proxy
OIDC_CLIENT_SECRET=web-app-proxy-secret
WEB_APP_BASE_URL=http://192.168.1.50:8083
TRAVELER_USERNAME=demo-user
TRAVELER_PASSWORD=demo-user-password
